@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Star Wars</h2>
        <img src="https://images.pexels.com/photos/3526022/pexels-photo-3526022.jpeg?cs=srgb&dl=pexels-craig-adderley-3526022.jpg&fm=jpg" class="img-fluid img-thumbnail" alt="Responsive image">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Clasificaion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>06:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08:00</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="col-md-4">
        <h2 class="text-center">Harry Potter</h2>
        <img src="https://cdn.pixabay.com/photo/2016/02/03/01/12/castle-1176423_1280.jpg" class="img-fluid img-thumbnail" alt="Responsive image">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Clasificaion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12:00</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>06:00</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08:00</td>
                    <td>B</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Batman</h2>
        <img src="https://cdn.pixabay.com/photo/2020/04/12/15/25/cuarentena-5034614_1280.jpg" class="img-fluid img-thumbnail" alt="Responsive image">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Clasificaion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>06:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08:00</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Spiderman</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/ee94dd4d8ccd726ca154c5f68d2f590b028431cec204bab8bc0decc38e0f6e0b._UR1920,1080_RI_UX400_UY225_.jpg" class="img-fluid img-thumbnail" alt="Responsive image">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Clasificaion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>06:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08:00</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Las tortugas ninja</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/188dfef3a80becba9075b685c7fa02e9260f553018f7c7ec9f737744ece2dd45._UR1920,1080_RI_SX712_FMwebp_.jpg" class="img-fluid img-thumbnail" alt="Responsive image">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Clasificaion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>06:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08:00</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">El señor de los anillos</h2>
        <img src="https://cdn.pixabay.com/photo/2016/09/15/07/05/ring-1671094_1280.jpg" class="img-fluid img-thumbnail" alt="Responsive image">

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Clasificaion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>06:00</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>08:00</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>